.quiz {
  background-color: white;
  &__header {
    padding: 15px 0;
    border-bottom: 1px solid $web-text-color;
    overflow: auto;
    color: $web-text-color;
    font-family: $font-atm-bold;
    &__logo {
      img {
        width: auto;
        height: 50px;
      }
    }
    &__text {
      text-transform: uppercase;
      text-align: right;
      line-height: 50px;
    }
  }

  &__content {
    position: relative;
    margin: 25px 50px;
    &__carousel {
      &--container {
        .owl-nav {
          margin-top: 25px;
          text-align: center;
          .owl-prev {
            display: inline-block;
          }

          .owl-next {
            display: inline-block;
          }

          .disabled {
            opacity: 0.2;
          }
        }
      }
    }
  }
}
