include ../../components/mixins/quiz/_quiz-slide.jade
.web-bg
  .quiz
    .container
      .row
        .quiz__header
          .quiz__header__logo.col-xs-6
            a(href="/")
              img(src="/assets/images/logo.jpg" alt="")
          .quiz__header__text.col-xs-6 {{App.quiz.header}}
        .quiz__content
          .owl-carousel.quiz__content__carousel--container
            - var Quiz=[{type:1,question:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis varius sapien sed pretium?",colors:["#fcefe5","#efd2cc","#deab7d","#b67245","#64321e","#452c28"]},{type:2,question:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis varius sapien sed pretium?",images:["http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image","http://placehold.it/300x300?text=Image"]},{type:3,question:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis varius sapien sed pretium?",images:[{title:"Title Something",image:"http://placehold.it/300x300?text=Image"},{title:"Title Something",image:"http://placehold.it/300x300?text=Image"},{title:"Title Something",image:"http://placehold.it/300x300?text=Image"},{title:"Title Something",image:"http://placehold.it/300x300?text=Image"},{title:"Title Something",image:"http://placehold.it/300x300?text=Image"},{title:"Title Something",image:"http://placehold.it/300x300?text=Image"},{title:"Title Something",image:"http://placehold.it/300x300?text=Image"},{title:"Title Something",image:"http://placehold.it/300x300?text=Image"}]},{type:4,question:"How comfortable are you with makeup?",nc:{title:"Not Very Comfortable",text:"I rarely or never wear makeup because I don't know how to apply much of it.",image:"http://placehold.it/300x300?text=Image"},sc:{title:"Somewhat Comfortable",text:"I like makeup, but I am looking to learn more about what to wear and how to wear it.",image:"http://placehold.it/300x300?text=Image"},vc:{title:"Very Comfortable",text:"I am a makeup pro and I never leave the house without looking glamorous!",image:"http://placehold.it/300x300?text=Image"}}];
            +_quiz(Quiz)
          .btn.quiz-slide__link--submit(ng-click="submitQuiz()") Submit
