$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import '_fonts.scss';
@import '_vars.scss';
@import 'brands/brand-detail.scss';
@import 'brands/brands.scss';
@import 'main/_spotlight.scss';
@import 'main/main.scss';
@import 'quiz/quiz.scss';
@import 'reviews/reviews.scss';
@import 'subscribe/_spotlight.scss';
@import 'subscribe/subscribe.scss';
@import 'videos/videos.scss';
@import '../components/footer/footer.scss';
@import '../components/mixins/common-grid/_common-grid.scss';
@import '../components/mixins/hoz-line/_hoz-line.scss';
@import '../components/mixins/plan-package/_plan-package.scss';
@import '../components/mixins/product-grid/_product-grid.scss';
@import '../components/mixins/quiz/_quiz-slide.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/_navbar.scss';
// endinjector


body {
  font-family: $font-atm;
  font-size: 16px;
  color: $web-text-color;
  
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $font-atm-bold;
}

.web-bg {
  //background: $very-light-gray;
  .container {
    background: transparent;
  }
}

.vertical-line {
  width: 100%;
  text-align: center;
  &__hr-100 {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $web-text-color;
  }

  &__hr-90 {
    display: inline-block;
    width: 90%;
    border-bottom: 1px solid $web-text-color;
  }
}

.section-devider {
  width: 100%;
  display:inline-block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;

  &:after {
    content: "";
    display: block;
    position: relative;
    margin-top: -15px;
    border-top: 1px solid $web-text-color;
    font-size: 20px;
  }

  span {
    padding: 0 50px;
    z-index: 9;
    display: inline-block;
    position: relative;
    background-color: white;
  }
}

.icon--circle {
  display:inline-block;
  padding:0.55em;
  border-width:2px;
  border-style:solid;
  border-radius:100%;
  margin-right:0.5em;
  &:hover{
    text-decoration:none;
  }
  &:before {
    display:block;
    text-align:center;
    width:1em;
    height:1em;
    line-height:1em;
    font-size:0.625em;
    cursor:pointer;
  }
}
