.container
  .row
    .nav-bar__first-line
      .nav-bar__first-line__logo.col-xs-9
        .nav-bar__first-line__logo__img
          a(href="/")
            img(src="/assets/images/logo.jpg" alt="")
        h2.nav-bar__first-line__logo__name JoliBox
        .nav-bar__first-line__logo__menu
          ul
            li
              a(href="/subscribe")
                span(ng-class="{'nav-bar--active': isActive('subscribe')}") Subscribe
            li
              a(href="/videos")
                span(ng-class="{'nav-bar--active': isActive('videos')}") Videos
            li
              a(href="/brands")
                span(ng-class="{'nav-bar--active': isActive('brands')}") Brands
            li
              a(href="/reviews")
                span(ng-class="{'nav-bar--active': isActive('reviews')}") Reviews
            li
              a(href="#")
                span(ng-class="{'nav-bar--active': isActive('aboutUs')}") About
            li
              a(href="#")
                span(ng-class="{'nav-bar--active': isActive('ContactUs')}") Contact
      .nav-bar__first-line__login.col-xs-3
        .nav-bar__first-line__login__button.btn
          i.fa.fa-user-plus.icon--circle
          i.fa.fa-user-plus.icon--button
            span &nbsp;Join us
        .nav-bar__first-line__login__button.btn
          i.fa.fa-user.icon--circle
          i.fa.fa-user.icon--button
            span &nbsp;Login
    .nav-bar__second-line
      ul
        li
          a(href="/subscribe")
            span(ng-class="{'nav-bar--active': isActive('subscribe')}") Subscribe
        li
          a(href="/videos")
            span(ng-class="{'nav-bar--active': isActive('videos')}") Videos
        li
          a(href="/brands")
            span(ng-class="{'nav-bar--active': isActive('brands')}") Brands
        li
          a(href="/reviews")
            span(ng-class="{'nav-bar--active': isActive('reviews')}") Reviews
        li
          a(href="#")
            span(ng-class="{'nav-bar--active': isActive('aboutUs')}") About
        li
          a(href="#")
            span(ng-class="{'nav-bar--active': isActive('ContactUs')}") Contact