.container
  .row
    .nav-bar__first-line
      .nav-bar__first-line__logo.col-xs-6
        .nav-bar__first-line__logo__img
          img(src="http://placehold.it/100x100?text=People" alt="")
        h2.nav-bar__first-line__logo__name JoliBox
      .nav-bar__first-line__login.col-xs-6
        .nav-bar__first-line__login__button.btn Join us
        .nav-bar__first-line__login__button.btn Login
    .nav-bar__second-line
      ul
        li
          a(href="#") Subscribe
        li
          a(href="#") Videos
        li
          a(href="#") Brands
        li
          a(href="#") Reviews
        li
          a(href="#") About us
        li
          a(href="#") Contact us