include ../../components/mixins/plan-package/_plan-package.jade
section.subscribe-spotlight(style="background-image: url(/assets/images/subscribe/bg.jpg);")
  .subscribe-spotlight__content
    .container
      h1.subscribe-spotlight__content__title.col-xs-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      +_planPackage([{active: true}, {active: false}, {active: false}, {active: false}])

