.spotlight{
    $spotlight-height: 550px;
    $box-margin: 10px;
    //margin-top: $page-margin-top;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: $spotlight-height;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &__content {
        position:absolute;
        top: 0;
        //transform:translate3d(0, -40%,0);
        width: 100%;
        &__box{
            //color: $web-color;
            margin-top: $box-margin + $page-margin-top;
            height: $spotlight-height - $box-margin*2 - $page-margin-top;
            background-color: rgba(255, 255, 255, 0.8);
            &--container {
                text-align: center;
            }
            &__title {
                font-family: $font-atm-bold-italic;
                &--month {

                }

                &--name {

                }

            }
            &__content {
                font-size: 18px;
                line-height: 1.6;
                text-align: left;

                ul {
                    margin-top: 15px;
                    li {
                        &:nth-last-child(1) {
                            font-family: $font-atm-bold;
                        }
                    }
                }
            }

            &__button {
                text-transform: uppercase;
                margin-top: 25px;
                font-family: $font-atm-bold;
                color: white;
                background-color: $web-color-op;
                padding: 10px;
                width: 200px;
                &:hover {
                    color: white;
                    background-color: $web-color
                }
            }
        }


    }

}
