include ../../components/mixins/hoz-line/_hoz-line.jade
navbar.nav-bar--transparent.nav-bar--main
.main-web-bg
  include ./spotlight.jade
  .container
    .row
      .main
        section.main__guide
          .row
            .main__guide__img.col-xs-3
              h2.main__guide__img__title 1 Order
              img(src="/assets/images/home/step1.png" alt="")
            .main__guide__img.col-xs-3
              h2.main__guide__img__title 2 Receive
              img(src="/assets/images/home/step2.png" alt="")
            .main__guide__img.col-xs-3
              h2.main__guide__img__title 3 Explore
              img(src="/assets/images/home/step3.png" alt="")
            .main__guide__img.col-xs-3
              h2.main__guide__img__title 4 Share
              img(src="/assets/images/home/step1.png" alt="")
        section.main__favorites
          +_hoz-line('Last Beauty Favorites', '25px')
          .main__favorites__carousel
            .owl-carousel.main__favorites__carousel--container
              .main__favorites__carousel__item
                .main__favorites__carousel__item__img
                  img(src="/assets/images/home/beauty/1.png" alt="")
                .main__favorites__carousel__item__content
                  .main__favorites__carousel__item__content__vote
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                  .main__favorites__carousel__item__content__title Lorem ipsum dolor sit amet
                  .main__favorites__carousel__item__content__text Something Title
              .main__favorites__carousel__item
                .main__favorites__carousel__item__img
                  img(src="/assets/images/home/beauty/2.png" alt="")
                .main__favorites__carousel__item__content
                  .main__favorites__carousel__item__content__vote
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                  .main__favorites__carousel__item__content__title Lorem ipsum dolor sit amet
                  .main__favorites__carousel__item__content__text Something Title
              .main__favorites__carousel__item
                .main__favorites__carousel__item__img
                  img(src="/assets/images/home/beauty/3.png" alt="")
                .main__favorites__carousel__item__content
                  .main__favorites__carousel__item__content__vote
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                  .main__favorites__carousel__item__content__title Lorem ipsum dolor sit amet
                  .main__favorites__carousel__item__content__text Something Title
              .main__favorites__carousel__item
                .main__favorites__carousel__item__img
                  img(src="/assets/images/home/beauty/4.png" alt="")
                .main__favorites__carousel__item__content
                  .main__favorites__carousel__item__content__vote
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                  .main__favorites__carousel__item__content__title Lorem ipsum dolor sit amet
                  .main__favorites__carousel__item__content__text Something Title
              .main__favorites__carousel__item
                .main__favorites__carousel__item__img
                  img(src="/assets/images/home/beauty/5.png" alt="")
                .main__favorites__carousel__item__content
                  .main__favorites__carousel__item__content__vote
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                  .main__favorites__carousel__item__content__title Lorem ipsum dolor sit amet
                  .main__favorites__carousel__item__content__text Something Title
              .main__favorites__carousel__item
                .main__favorites__carousel__item__img
                  img(src="/assets/images/home/beauty/2.png" alt="")
                .main__favorites__carousel__item__content
                  .main__favorites__carousel__item__content__vote
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                  .main__favorites__carousel__item__content__title Lorem ipsum dolor sit amet
                  .main__favorites__carousel__item__content__text Something Title
              .main__favorites__carousel__item
                .main__favorites__carousel__item__img
                  img(src="/assets/images/home/beauty/4.png" alt="")
                .main__favorites__carousel__item__content
                  .main__favorites__carousel__item__content__vote
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                  .main__favorites__carousel__item__content__title Lorem ipsum dolor sit amet
                  .main__favorites__carousel__item__content__text Something Title
              .main__favorites__carousel__item
                .main__favorites__carousel__item__img
                  img(src="/assets/images/home/beauty/1.png" alt="")
                .main__favorites__carousel__item__content
                  .main__favorites__carousel__item__content__vote
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                  .main__favorites__carousel__item__content__title Lorem ipsum dolor sit amet
                  .main__favorites__carousel__item__content__text Something Title
              .main__favorites__carousel__item
                .main__favorites__carousel__item__img
                  img(src="/assets/images/home/beauty/3.png" alt="")
                .main__favorites__carousel__item__content
                  .main__favorites__carousel__item__content__vote
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart
                    i.fa.fa-heart.main__favorites__carousel__item__content__vote--not
                  .main__favorites__carousel__item__content__title Lorem ipsum dolor sit amet
                  .main__favorites__carousel__item__content__text Something Title
        section.main__brands
          +_hoz-line('Featured brands', "25px")
          .main__brands__carousel
            .owl-carousel.main__brands__carousel--container
              .row
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/bankers-secret.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/ekoko.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/estee-lauder.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/innissfree.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/ekoko.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/bankers-secret.png" alt="")
              .row
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/innissfree.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/estee-lauder.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/bankers-secret.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/ekoko.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/estee-lauder.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/ekoko.png" alt="")
              .row
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/bankers-secret.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/ekoko.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/estee-lauder.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/innissfree.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/ekoko.png" alt="")
                .main__brands__carousel__item.col-xs-2
                  .main__brands__carousel__item__img
                    img(src="/assets/images/home/brands/innissfree.png" alt="")
        section.main__bottom
          .main__bottom__button--container
            .btn.web-btn.main__bottom__button Sign up for newsletter
          .main__bottom__share--container
            .main__bottom__share
              i.main__bottom__share__item.fa.fa-youtube-play.icon--circle
              i.main__bottom__share__item.fa.fa-pinterest.icon--circle
              i.main__bottom__share__item.fa.fa-instagram.icon--circle
              i.main__bottom__share__item.fa.fa-facebook.icon--circle
              i.main__bottom__share__item.fa.fa-google-plus.icon--circle
          .main__bottom__menu
            ul
              li
                a(href="#") About
              li
                a(href="#") Contact
              li
                a(href="#") Media
              li
                a(href="#") FAQ
              li
                a(href="#") Affiliate program
              li
                a(href="#") Privacy
              li
                a(href="#") Terms & conditions
              li
                a(href="#") Careers
          .main__bottom__description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at odio vulputate, vestibulum turpis non, posuere nisl. Donec vulputate ligula eget tortor lobortis, ac commodo purus maximus. Cras placerat at nibh sagittis pulvinar. Quisque feugiat quam ac turpis convallis, eget accumsan diam porta. Suspendisse quis consectetur tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at odio vulputate, vestibulum turpis non, posuere nisl. Donec vulputate ligula eget tortor lobortis, ac commodo purus maximus. Cras placerat at nibh sagittis pulvinar. Quisque feugiat quam ac turpis convallis, eget accumsan diam porta. Suspendisse quis consectetur tortor.
//footer