navbar
include ./spotlight.jade
.web-bg
  .container
    .row
      .main
        section.main__guide
          .row
            .main__guide__img.col-xs-3
              img(src="http://placehold.it/540x436?text=Image" alt="")
            .main__guide__img.col-xs-9
              img(src="http://placehold.it/1200x300?text=Guide%20image" alt="")
        section.main__favorites
          h3.section-devider
            span Last Beauty Favorites
          .main__favorites__carousel
            .owl-carousel.main__favorites__carousel--container
              .main__favorites__carousel__item
                img(src="http://placehold.it/300x300?text=Image%201" alt="")
              .main__favorites__carousel__item
                img(src="http://placehold.it/300x300?text=Image%202" alt="")
              .main__favorites__carousel__item
                img(src="http://placehold.it/300x300?text=Image%203" alt="")
              .main__favorites__carousel__item
                img(src="http://placehold.it/300x300?text=Image%204" alt="")
              .main__favorites__carousel__item
                img(src="http://placehold.it/300x300?text=Image%205" alt="")
              .main__favorites__carousel__item
                img(src="http://placehold.it/300x300?text=Image%206" alt="")
              .main__favorites__carousel__item
                img(src="http://placehold.it/300x300?text=Image%207" alt="")
              .main__favorites__carousel__item
                img(src="http://placehold.it/300x300?text=Image%208" alt="")
              .main__favorites__carousel__item
                img(src="http://placehold.it/300x300?text=Image%209" alt="")
        section.main__brands
          h3.section-devider
            span Featured brands
          .main__brands__carousel
            .owl-carousel.main__brands__carousel--container
              .row
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%201" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%202" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%203" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%204" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%205" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%206" alt="")
              .row
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%207" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%207" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%209" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%2010" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%2011" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%2012" alt="")
              .row
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%2013" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%2014" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%2015" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%2016" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%2017" alt="")
                .main__brands__carousel__item.col-xs-2
                  img(src="http://placehold.it/300x300?text=Image%2018" alt="")
footer