.main-web-bg {
  position: absolute;
  top: 0;
  //height:100%;
  //min-height: 1840px;
  width: 100%;
  background-image:url(/assets/images/home/background.jpg);
  background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center center;
  //background-attachment:fixed;
  overflow: auto;
}

.main {
  $padding-section: 25px;
  margin-bottom: 70px;
  padding: $padding-section 0;
  &__guide {
    padding: $padding-section 0;
    &__img {
      text-align: center;
      &__title {
        //background-color: $web-color-op;
        margin: 0;
        text-align: center;
        line-height: 70px;
        //color: white;
      }
      img {
        //background-color: $web-color-op;
        width: 80%;
        height: auto;
      }
    }
  }

  &__favorites {
    &:hover {
      .owl-nav{
        display: inline-block;
      }
    }
    &__carousel {
      padding: $padding-section 0;

      &--container {
        position: relative;
      }

      .owl-nav {
        display:none;
        position: absolute;
        top: 40%;
        width: 100%;

        a {
          text-decoration: none;
          color: $web-color-op;
          &:hover {
            color: $web-color;
          }
        }
        .owl-prev{
          display: inline-block;
          position: absolute;
          left: 5px;
          height: 100px;
          width: 50px;
        }

        .owl-next {
          display: inline-block;
          position: absolute;
          right: 5px;
          height: 100px;
          width: 50px;
        }
      }

      &__item {
        &__img {
          //background: rgba(255, 255, 255, 0.5);
          img {
            height: auto;
            margin: 0 auto;
          }
        }

        &__content {
          //background: rgba(255, 255, 255, 0.5);
          text-align: center;
          &__vote {
            color: $web-color;
            padding-top: 5px;
            i {
              font-size: 15px;
              margin-right: 5px;
            }

            &--not {
              color: white;
            }
          }
          &__title {
            padding-top: 10px;
            text-transform: uppercase;
            width: 80%;
            margin: 0 auto;
          }
          &__text {
            padding-bottom: 10px;
            font-size: 15px;
          }
        }

        &__link {
          font-size: 50px;
        }
      }
    }
  }

  &__brands {
    &__carousel {
      padding: $padding-section 0;
      &--container {
        position: relative;
      }

      &__item {
        &__img {
          img {
            height: auto;
            margin: 0 auto;
          }
        }
      }
    }
  }

  &__bottom {
    padding-top: $padding-section;
    &__button {
      width: 50%;
      font-size: 24px;
      &--container {
        text-align: center;
      }
    }

    &__share {
      width: 90%;
      background-color: transparent;
      margin: 0 auto;

      &--container {
        text-align: center;
      }

      &__item {
        color: white;
        font-size: 50px;
        margin: 15px 0;
        background-color: $web-color-op;
        &.icon--circle {
          border: 0;
          padding: 0.20em;
        }

        &:hover {
          background: $web-color;
        }
      }

    }

    &__menu {
      width: 90%;
      text-align: center;
      margin: 15px auto;
      text-transform: uppercase;
      font-size: 16px;
      ul {
        margin: 0;
        list-style-type: none;
        li {
          display: inline-block;
          margin-right: 30px;
          a {
            color: white;
            &:hover {
              color: $web-color;
            }
          }
        }
      }
    }

    &__description {
      color: white;
      width: 70%;
      margin: 0 auto;
      text-align: center;
      font-size: 15px;
      padding: 0 50px;
    }
  }
}
