section.spotlight(style="background-image: url(/assets/images/home/banner2.jpg);")
  .spotlight__content
    .container
      .row
        .spotlight__content__box.col-xs-offset-8.col-xs-4
          .spotlight__content__box--container
            h2.spotlight__content__box__title.spotlight__content__box__title--month December
            h1.spotlight__content__box__title.spotlight__content__box__title--name JOLIBOX
            .vertical-line
              .vertical-line__hr-90
            .spotlight__content__box__content
              ul
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li $200/month
            .spotlight__content__box__button.btn Buy Now